In [74]:
from utils import get_data
import numpy
import pandas as pd

In [5]:
data = get_data('../data')

In [79]:
soldHomes = data[data['STATUS'] == 'SLD']
soldHomes = soldHomes[soldHomes['PROPTYPE'] != 'CC']

In [80]:
soldMLS = soldHomes['MLSNUM'].unique()

In [81]:
def getHome(data, mls):
    home = data[data['MLSNUM'] == mls]
    homes = data[data['ZIP'] == home['ZIP'].iloc[0]]
    homes = homes[homes['HOUSENUM1'] == home['HOUSENUM1'].iloc[0]]
    homes = homes[homes['STREETNAME'] == home['STREETNAME'].iloc[0]]
    return homes

In [92]:
test_homes = []
for mls in soldMLS:
    homes = getHome(soldHomes, mls)
    if(homes.shape[0] == 2):
        test_homes.append(homes)

In [127]:
flippedHomes = pd.concat(test_homes)

In [128]:
flippedHomes = flippedHomes.drop_duplicates(subset='MLSNUM', keep="first")
flippedHomes = flippedHomes.sort_values(by='MLSNUM')

In [129]:
flippedHomes['SOLDDATE']

13171      8/1/2017
359767    2/23/2017
13186      8/1/2017
111898    6/14/2016
13248      8/1/2017
            ...
540042    1/15/2016
536638    5/20/2016
541447    1/28/2016
537700    5/26/2016
539256     1/7/2016
Name: SOLDDATE, Length: 4885, dtype: object

In [130]:
flips = [];
for mls in flippedHomes['MLSNUM']:
    homes = getHome(flippedHomes, mls)
    if(homes.shape[0] == 2):
        flips.append({
            'PRE-FLIP-MLS': homes['MLSNUM'].iloc[0],
            'POST-FLIP-MLS': homes['MLSNUM'].iloc[1],
            'PRE-FLIP-SOLD-DATE': homes['SOLDDATE'].iloc[0],
            'POST-FLIP-SOLD-DATE': homes['SOLDDATE'].iloc[1],
            'PRE-SOLD-PRICE': homes['SOLDPRICE'].iloc[0],
            'POST-SOLD-PRICE': homes['SOLDPRICE'].iloc[1],
            'PRE-SOLD-PRICE': homes['SOLDPRICE'].iloc[0],
            'POST-SOLD-PRICE': homes['SOLDPRICE'].iloc[1],
            'PROFIT': int(homes['SOLDPRICE'].iloc[1]) - int(homes['SOLDPRICE'].iloc[0])
        })

In [ ]:
pd.DataFrame.from_dict(flips)

,PRE-FLIP-MLS,POST-FLIP-MLS,PRE-FLIP-SOLD-DATE,POST-FLIP-SOLD-DATE,PRE-SOLD-PRICE,POST-SOLD-PRICE,PROFIT
0,72155376.0,72013298.0,8/1/2017,2/23/2017,324000,222500,-101500
1,72155376.0,72013298.0,8/1/2017,2/23/2017,324000,222500,-101500
2,72161351.0,71952358.0,8/1/2017,6/14/2016,1.05e+06,1.0175e+06,-32500
3,72161351.0,71952358.0,8/1/2017,6/14/2016,1.05e+06,1.0175e+06,-32500
4,72173293.0,71998186.0,8/1/2017,9/9/2016,325000,340000,15000
...,...,...,...,...,...,...,...
3783,71967250.0,71880404.0,5/20/2016,1/15/2016,144000,137000,-7000
3784,71969853.0,71910110.0,5/20/2016,1/28/2016,399900,234000,-165900
3785,71969853.0,71910110.0,5/20/2016,1/28/2016,399900,234000,-165900
3786,71980225.0,71933572.0,5/26/2016,1/7/2016,530000,412000,-118000
3787,71980225.0,71933572.0,5/26/2016,1/7/2016,530000,412000,-118000